# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
# *.app

Lenna_output.png
main

vitis/.apc/
vitis/.settings/
vitis/solution1/
vitis/.vitis_hls_log_all.xml
vitis_hls.log

bazel-*
